<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="/Content/app.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="logo">
      <a href="/home"><img src="Assets/images/logo.png  " /></a>
    </div>

    <nav>
      <ul class="navbar">
        <li><a class="active" href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div>
      <h1 class="welcome">Welcome To The <%= title %> Page</h1>
    </div>
  </body>
</html>
