<%- include partials/header.ejs %>

<div class="wrapper2">
  <div>
    <p>
      Hi, my name is Osman Tahir, I'm from Eritrea, I've been here in Canada for
      five years.
    </p>
    <p>
      My program is software engineering technology and this is my fourth
      semester at Centennial College.
    </p>
    <p>
      I have worked in various jobs during my stay in Canada. I have 7 years of
      experience in marketing and customer service in banks.
    </p>
    <a href="Assets/images/MyResume.pdf"><p>My Resume</p></a>
    <a href="/home"><button>Home</button></a>
  </div>
  <div>
    <img
      class="myPhoto"
      src="Assets/images/osman.jpg"
      width="200"
      ,
      height="300"
    />
  </div>
</div>
<%-include partials/footer.ejs %>
