<%- include partials/header.ejs %>
<h2>List Of Services I Provide:</h2>
<div class="wrapper4">
  <div>
    <li>General Programming</li>
  </div>
  <div>
    <li>Web App Development</li>
  </div>
  <div>
    <li>Mobile App Development</li>
  </div>
  <div>
    <li>Code Maintenance</li>
  </div>
  <div>
    <li>Troubleshooting</li>
  </div>
</div>
<%- include partials/footer.ejs %>
