<%- include partials/header.ejs %>

<div class="wrapper1">

    <div class="box-1" >
        <p>Hello Everyone, Welcome To My Website!</p>
        
        <h2>It's Nice To Meet You.</h2>
        <a href="/about"><button>Meet Me</button></a>
    </div>

    <div class="box-2" >
        <h2>My Mission:</h2>
        <p>To encourage everyone I interact with on a daily basis.</p>
       
    </div>

    <div class="box-3">
        
        <a href="/contact"><button>Contact Me</button></a>
        <a href="/projects"><button>Projects</button></a>
        <a href="/services"><button>Services</button></a>
    </div>
    
</div>
</div>
  <%- include partials/footer.ejs %>

