<%- include partials/header.ejs %>
<div class="wrapper3">
  <div class="proj">
    <h3>Project #1</h3>
    <img class="img" src="Assets/images/p7.png" />
    <p>A Cashier Register For Restaurants.</p>
  </div>

  <div class="proj">
    <h3>Project #2</h3>
    <img class="img" src="Assets/images/p8.png" />
    <p>Guessing the color of an RGB that will be generated randomly.</p>
  </div>

  <div class="proj">
    <h3>Project #3</h3>
    <img class="img" src="Assets/images/p3.png" />
    <p>A Dice Roll Game.</p>
  </div>
  <div class="proj">
    <h3>Project #4</h3>
    <img class="img" src="Assets/images/p4.png" />
    <p>Rock Paper Scissors Game, Picture Generator, And More.</p>
  </div>

  <div class="proj">
    <h3>Project #5</h3>
    <img class="img" src="Assets/images/p5.png" />
    <p>BMR Calculator.</p>
  </div>

  <div class="proj">
    <h3>Project #6</h3>
    <img class="img" src="Assets/images/p6.png" />
    <p>A Restaurant Website.</p>
  </div>
</div>
<%- include partials/footer.ejs %>
